extends layout

block buttons
    button.btn.btn-default.navbar-btn.pull-right(onclick='show_modal("add_source")') Add

block content
    h3 Apartments source urls

    table.table.sources
        thead
            tr
                th Name
                th Url
                th Actions
        tbody
            each source in sources
                tr
                    td= source.name
                    td
                        a(href=source.url)= source.url
                    td
                        div.btn-group
                            button.btn.btn-default.btn-sm(onclick='change_source_state(#{JSON.stringify(source)}, this)')
                                span.glyphicon(class=source.active ? 'glyphicon-remove' : 'glyphicon-ok')
                            button.btn.btn-default.btn-sm(onclick='remove_source("#{source.name}", this); return false;', title='Delete')
                                span.glyphicon.glyphicon-trash


    dialog#add_source
        form(action='/sources/add' method='POST')
            div.form-group
                label(for='name') Название
                input.form-control(id='name' name='name' type='text')
            div.form-group
                label(for='url') Ссылка
                textarea.form-control(id='url' name='url' rows='5')
            div.btn-toolbar
                button.btn.btn-default Сохранить
                button.btn.btn-default(onclick='hide_modal("add_source"); return false;') Отмена