extends layout

//block buttons
//    form.navbar-form.navbar-right(action='/save')
//        input(type='hidden', name='sources', value='')
//        button.btn.btn-default Save

block content
    h3 Apartments source urls

    table.table.sources
        thead
            tr
                th Name
                th Url
                th Actions
        tbody
            each source in sources
                tr
                    td= source.name
                    td= source.url
                    td
                        div.btn-group
                            button.btn.btn-default.btn-sm(onclick='change_source_state(#{JSON.stringify(source)}, this)')
                                span.glyphicon(class=source.active ? 'glyphicon-remove' : 'glyphicon-ok')
                            button.btn.btn-default.btn-sm(onclick='remove_source("#{source.name}", this); return false;', title='Delete')
                                span.glyphicon.glyphicon-trash
