extends layout

block content
    h3= title + ' (' + apartments.length + ' items)'
    table.table.apartments
        thead
            tr
                th(width='2%')
                th(width='6%') ID
                th(width='13%') Updated
                th(width='8%') Price
                th(width='6%') Type
                th(width=showDetails ? '15%' : '40%') Address
                if showDetails
                    th(width='45%') Text
                th(width='5%') URL
        tbody
            each ap in apartments
                tr
                    td
                        a.icon(href='#', onclick='toggle_favorite(#{JSON.stringify(ap)}, this); return false;', class=ap.favorite ? 'favorite' : 'not-favorite')
                    td= ap.id
                    td= moment(ap.updated).format('YYYY-MM-DD HH:mm:ss')
                    td= (ap.price + ' ' + ap.currency)
                    td= ap.type
                    td= ap.address
                    if showDetails
                        td= ap.text
                    td
                        a(href=ap.url, target='_blank') Open
