extends layout

block content
    h3= title
    table.table
        thead
            tr
                th
                th ID
                th Updated
                th Price
                th Type
                th Address
                th URL
        tbody
            each ap in apartments
                tr
                    td
                        a.icon(href='#', onclick='toggle_favorite(#{JSON.stringify(ap)}, this); return false;', class=ap.favorite ? 'favorite' : 'not-favorite')
                    td= ap.id
                    td= moment(ap.updated).format('YYYY-MM-DD HH:mm:ss')
                    td= (ap.price + ' ' + ap.currency)
                    td= ap.type
                    td= ap.address
                    td
                        a.showModal(href=ap.url, target='_blank')= ap.url
