extends layout

block content
    h3= title + ' (' + apartments.length + ' items)'
    table.table.apartments
        thead
            tr
                th(width='4%')
                th(width='6%') ID
                th(width='13%') Updated
                th(width='7%') Price
                th(width='6%') Type
                th(width=showDetails ? '15%' : '40%') Address
                if showDetails
                    th(width='44%') Text
                th(width='5%') URL
        tbody
            each ap in apartments
                tr(class=ap.active ? '' : 'not-active')
                    td
                        a.glyphicon(href='#', onclick='toggle_favorite(#{JSON.stringify(ap)}, this); return false;', class=ap.favorite ? 'glyphicon-star' : 'glyphicon-star-empty')
                        a.glyphicon(href='#', onclick='toggle_ignored(#{JSON.stringify(ap)}, this); return false;', class=ap.ignored ? 'glyphicon-ok' : 'glyphicon-ban-circle')
                    td= ap.id
                    td= format_date(ap.updated)
                    td= (ap.price + ' ' + ap.currency)
                    td= ap.type
                    td= ap.address
                    if showDetails
                        td= ap.text
                    td
                        a(href=ap.url, target='_blank') Open
